<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{modules/layout :: html(content = ~{::content})}">
  <th:block th:fragment="content">
    <div class="content">
      <div>
        <div>
          <h1 th:text="${post.spec.title}"></h1>
        </div>
        <div class="flex" style="padding: 1rem 0;font-size: .875rem;color: #999;">
          <i class="iconify iconify-user" style="margin: auto .25rem auto 0;"></i>
          <span th:text="${post.spec.owner}" style="padding: 0 1rem 0 0;"></span>
          <i class="iconify iconify-ph-eye-light" style="margin: auto .25rem auto 0;"></i>
          <span>
            [[${post.stats.visit}]]
          </span>
          <div class="flex" style="justify-content: flex-end;flex-basis: 100%;">
            <i class="iconify iconify-time" style="margin: auto .25rem auto 0;"></i>
            <span th:text="${#dates.format(post.spec.publishTime,'yyyy-MM-dd HH:mm:ss')}"></span>
          </div>
        </div>
        <div>
          <article th:utext="${post.content.content}"></article>
        </div>
        <div th:with="postCursor = ${postFinder.cursor(post.metadata.name)}" class="content-bottom">
          <div>
            <a th:if="${postCursor.hasPrevious()}" th:href="@{${postCursor.previous.status.permalink}}">
              << <span th:text="${postCursor.previous.spec.title}"></span>
            </a>
          </div>
         <div>
          <a th:if="${postCursor.hasNext()}" th:href="@{${postCursor.next.status.permalink}}">
            <span th:text="${postCursor.next.spec.title}"></span> >>
          </a>
         </div>
        </div>
      </div>
    </div>
  </th:block>
</html>
